:root {
    --rows: 5;
    --columns: 5;
}

body {
    display: grid;
    grid-template-areas: 
    "TopBar TopBar TopBar"
    "LeftBar Main Main"
    "LeftBar Main Main";
}

div.TopBar {
    grid-area: TopBar;
}

div.LeftBar {
    grid-area: LeftBar;
}

main {
    grid-area: Main;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}