:root {
    --dark1: #000000;
    --dark2: #111;
    --dark3: #222;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

body {
    background-color: var(--dark1);
}

div.TopBar {
    display: flex;
    flex-direction: row;
    background-color: var(--dark2);
    height: calc(1 / 8 * 100vh);
    width: 100vw;
}

div.LeftBar {
    display: flex;
    flex-direction: column;
    background-color: var(--dark3);
    height: calc(7 / 8 * 100vh);
    width: calc(1 / 8 * 100vw);
}