body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-size: 18px;
}

    header {
        font-style: normal;
        border: none;
    }

    #HeaderNav {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    nav {
        margin-bottom: 1.5%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    nav.LinkBox {
        display: flex;
        text-align: center;
    }

        nav.LinkBox a {
            flex: 1;
        }

    main.Flex {
        display: flex;
    }

        .LinkBox {
            background-color: #141414;
            border: 0.5px solid #6c6c6c;
            align-items: center;
            flex: 1;
        }

        div {
            background-color: #141414;
            border: 0.5px solid #6c6c6c;
            margin-top: 0.5%;
            padding: 2%;
            flex: none;
        }

        div.PartnershipBox {
            display: flex;
            padding: 2.5%;
        }   

        div.PartnershipBox article {
            margin-left: 5%;
        }
        
            a:link {
                color: #ffffff;
                text-decoration: none;
            }

            a:hover {
                color: #ffffff;
                text-decoration: underline;
            }

            a:active {
                color: #ffffff;
                text-decoration: underline;
            }

            a:visited {
                color: #ffffff;
                text-decoration: none;
            }

            p {
                text-indent: 0.25%;
            }

            div.LinkBox p {
                text-align: center;
            }

            div p {
                text-align: justify;
            }

            footer.Flex div {
                flex: 1;
                align-items: center;
                border: none;
                background-color: none;
            }