body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}   

    header {
        font-style: normal;
        border: none;
    }

    main {
        display: flex;
    }

        .LinkBox {
            background-color: #141414;
            /* Potem się ułoży w jedenj lini, znacznika nie pamiętam */
            border: 0.5px solid #6c6c6c;
            margin: none;
            padding: 2%;
            flex: 1;
        }
        
            a:link {
                color: #ffffff;
                text-decoration: none;
            }

            a:hover {
                color: #ffffff;
                text-decoration: underline;
            }

            a:active {
                color: #ffffff;
                text-decoration: underline;
            }

            a:visited {
                color: #ffffff;
                text-decoration: none;
            }